
<!-- <p> -->
<!-- 	Exporting will export a cleaned sharable dashboard that can be imported -->
<!-- 	into another Grafana instance. -->
<!-- </p> -->

<div class="share-modal-header">
	<div class="share-modal-big-icon">
		<i class="fa fa-cloud-upload"></i>
	</div>
	<div>
		<p class="share-modal-info-text">
			Pode exportar o dashboard para um ficheiro JSON. As data sources irão estruturadas para que seja
			mais fácil o dashboard ser importado.
			<!--Poderá partilhar dashboards em <a class="external-link" href="https://grafana.com">Grafana.com</a>.-->
		</p>

		<div class="gf-form-button-row">
			<button type="button" class="btn gf-form-btn width-10 btn-success" ng-click="ctrl.save()">
				<i class="fa fa-save"></i> Download JSON
			</button>
			<button type="button" class="btn gf-form-btn width-10 btn-secondary" ng-click="ctrl.saveJson()">
				<i class="fa fa-file-text-o"></i> Ver JSON
			</button>
			<a class="btn btn-link" ng-click="ctrl.dismiss()">Cancelar</a>
		</div>

	</div>
</div>
